<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="travels">
            <ion-icon name="flash"></ion-icon>
            <ion-label>Viajes</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="my-travels">
            <ion-icon name="flash"></ion-icon>
            <ion-label>Mis viajes</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="my-account">
            <ion-icon name="send"></ion-icon>
            <ion-label>Mi cuenta</ion-label>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>
