<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Viajes
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-fab vertical="top" edge horizontal="end" slot="fixed">
        <ion-fab-button color="danger" (click)="addTravel()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <ion-grid>
        <ion-row>
            <ion-col *ngFor="let t of travels" size="12">
                <ion-card>
                    <ion-card-header [color]="t.starttask && t.endtask ? 'success' : 'warning'">
                        <ion-card-title>{{ t.user.nombre + ' ' + t.user.apellido_paterno + ' ' + t.user.apellido_materno }}</ion-card-title>
                        <ion-item no-padding [color]="t.starttask && t.endtask ? 'success' : 'warning'">
                            <ion-label>{{ t.starttask && t.endtask ? 'Terminado' : 'Servicio en cola' }}</ion-label>
                            <ion-icon *ngIf="t.starttask && t.endtask" name="checkbox-outline"></ion-icon>
                            <ion-button *ngIf="t.starttask && t.endtask" (click)="goTravelDetail(t.id)" fill="outline"
                                        slot="end">Ver
                            </ion-button>
                        </ion-item>
                    </ion-card-header>
                    <app-preload-image class="user-avatar add-spinner" [ratio]="{w:1, h:1}"
                                       [src]="t.url"></app-preload-image>
                    <ion-card-content>
                        <ion-item no-padding no-lines>
                            <ion-label>{{ 'Inicio: ' + (t.starttask | date:'hh:mm') }}</ion-label>
                            <ion-label>{{ 'Fin: ' + (t.endtask | date:'hh:mm') }}</ion-label>
                        </ion-item>

                        <ion-row align-items-center>
                            <ion-col>
                                <ion-button (click)="doTravel(t.id, true); $event.stopPropagation()"
                                            [disabled]="t.start_latitude">Inicio
                                </ion-button>
                            </ion-col>
                            <ion-col>
                                <ion-button (click)="doTravel(t.id, false); $event.stopPropagation()"
                                            [disabled]="t.end_latitude">Fin
                                </ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
