.login-logo {
  padding: 20px 0;
  min-height: 50px;
  text-align: center;
}

.login-logo img {
  max-width: 150px;
}

.list {
  margin-bottom: 0;
}

ion-toolbar {
  --background: white;
  --opacity: 0.9;
}
